/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* para font size */

.p-10 {
    font-size: 10px;
}

.p-15 {
    font-size: 15px;
}

.p-18 {
    font-size: 18px;
}

.p-20 {
    font-size: 20px;
}

.p-21 {
    font-size: 21px;
}

.p-22 {
    font-size: 22px;
}

.p-23 {
    font-size: 23px;
}

.p-24 {
    font-size: 24px;
}

.p-25 {
    font-size: 25px;
}

.p-30 {
    font-size: 30px;
}

.p-40 {
    font-size: 40px;
}

.p-50 {
    font-size: 50px;
}

.p-60 {
    font-size: 60px;
}

.p-70 {
    font-size: 70px;
}

.p-80 {
    font-size: 80px;
}

.p-90 {
    font-size: 90px;
}

.p-100 {
    font-size: 100px;
}


/* Padding top */

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-110 {
    padding-top: 110px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-130 {
    padding-top: 130px;
}

.pt-140 {
    padding-top: 140px;
}

.pt-150 {
    padding-top: 150px;
}


/* Padding bottom */

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}


/* Padding x */

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.px-20 {
    padding-right: 20px;
    padding-left: 20px;
}

.px-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.px-40 {
    padding-right: 40px;
    padding-left: 40px;
}

.px-50 {
    padding-right: 50px;
    padding-left: 50px;
}

.px-60 {
    padding-right: 60px;
    padding-left: 60px;
}

.px-70 {
    padding-right: 70px;
    padding-left: 70px;
}

.px-80 {
    padding-right: 80px;
    padding-left: 80px;
}

.px-90 {
    padding-right: 90px;
    padding-left: 90px;
}

.px-100 {
    padding-right: 100px;
    padding-left: 100px;
}

.px-120 {
    padding-right: 120px;
    padding-left: 120px;
}


/* margin */

.m-10 {
    margin: 10px;
}

.m-20 {
    margin: 20px;
}

.m-30 {
    margin: 30px;
}

.m-40 {
    margin: 40px;
}

.m-50 {
    margin: 50px;
}

.m-60 {
    margin: 60px;
}

.m-70 {
    margin: 70px;
}

.m-80 {
    margin: 80px;
}

.m-90 {
    margin: 90px;
}

.m-100 {
    margin: 100px;
}


/* margin top */

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-100 {
    margin-top: 100px;
}


/* margin top */

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}


/* margin x */

.mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mx-40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mx-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.mx-60 {
    margin-left: 60px;
    margin-right: 60px;
}

.mx-70 {
    margin-left: 70px;
    margin-right: 70px;
}

.mx-80 {
    margin-left: 80px;
    margin-right: 80px;
}

.mx-90 {
    margin-left: 90px;
    margin-right: 90px;
}

.mx-100 {
    margin-left: 100px;
    margin-right: 100px;
}


/* margin x reverse */

.mxr-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.mxr-20 {
    margin-left: -20px;
    margin-right: -20px;
}

.mxr-30 {
    margin-left: -30px;
    margin-right: -30px;
}

.mxr-40 {
    margin-left: -40px;
    margin-right: -40px;
}

.mxr-50 {
    margin-left: -50px;
    margin-right: -50px;
}

.mxr-60 {
    margin-left: -60px;
    margin-right: -60px;
}

.mxr-70 {
    margin-left: -70px;
    margin-right: -70px;
}

.mxr-80 {
    margin-left: -80px;
    margin-right: -80px;
}

.mxr-90 {
    margin-left: -90px;
    margin-right: -90px;
}

.mxr-100 {
    margin-left: -100px;
    margin-right: -100px;
}

.mar-b {
    margin-bottom: -180px;
}

.container {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-fluid {
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container-fluid>.row {
    height: 100%;
}

.container>.row {
    height: 100%;
}

body {
    background: -webkit-gradient(linear, left top, right top, from(#c0c0ff02), to(#c0c0ff02));
    background: -o-linear-gradient(left, #c0c0ff02 0%, #c0c0ff02 100%);
    background: linear-gradient(90deg, #c0c0ff02 0%, #c0c0ff02 100%);
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.tx-co {
    color: rgb(0, 0, 109);
}

.tx-co:hover {
    color: rgb(0, 0, 109);
}

.center {
    text-align: center;
}


/* Navbar style start */

.nav-bg {
    background-color: #fdfdff;
}

.sky-blue {
    color: rgb(0, 195, 255);
}

.nav-border {
    border-bottom: 0.1px solid rgba(0, 0, 255, 0.11);
}

.nav-li-border {
    border-bottom: 1.5px solid rgba(255, 255, 255, 0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.nav-li-border:hover {
    border-bottom: 1.5px solid rgb(1, 1, 116);
}

.nav-btn-c {
    background-color: rgb(1, 1, 116);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: 1px solid rgb(1, 1, 116);
}

.nav-btn-c:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    border: 1px solid rgb(1, 1, 116);
}

.nav-btn-c1 {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: 1px solid rgb(1, 1, 116);
}

.nav-btn-c1:hover {
    background-color: rgb(1, 1, 116);
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: 1px solid rgb(1, 1, 116);
}


/* Navbar style end */


/* Home page start */

.color0 {
    color: rgb(255, 255, 255);
}

.color1 {
    color: rgb(255, 41, 41);
}

.color2 {
    color: rgb(43, 20, 255);
}

.color3 {
    color: rgb(224, 183, 0);
}

.color4 {
    color: rgb(0, 230, 230);
}

.color5 {
    color: rgb(197, 0, 187);
}

.color6 {
    color: rgb(165, 0, 157);
}

.color7 {
    color: rgb(41, 41, 41);
}

.color8 {
    color: rgb(179, 255, 0);
}

.color9 {
    color: rgb(55, 0, 128);
}

.color10 {
    color: rgb(255, 51, 0);
}

.border-none {
    border: none;
}

.shad {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(10%, rgb(245, 245, 252)), to(rgba(255, 255, 0, 0)));
    background-image: -o-linear-gradient(left, rgb(245, 245, 252) 10%, rgba(255, 255, 0, 0));
    background-image: linear-gradient(90deg, rgb(245, 245, 252) 10%, rgba(255, 255, 0, 0));
}

.shad1 {
    background-image: -webkit-gradient(linear, right top, left top, color-stop(5%, rgb(249, 249, 255)), to(rgba(255, 255, 255, 0)));
    background-image: -o-linear-gradient(right, rgb(249, 249, 255) 5%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(270deg, rgb(249, 249, 255) 5%, rgba(255, 255, 255, 0));
}

.shad2 {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgb(249, 249, 255)), to(rgba(255, 255, 0, 0)));
    background-image: -o-linear-gradient(left, rgb(249, 249, 255) 5%, rgba(255, 255, 0, 0));
    background-image: linear-gradient(90deg, rgb(249, 249, 255) 5%, rgba(255, 255, 0, 0));
}


/* Home page end */


/* sec2 start */

.logo {
    border-radius: 50%;
    background-color: rgb(2, 0, 66);
    width: 70px;
    height: 70px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
}

.card-bg {
    background-color: rgb(250, 250, 252);
    border: none;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border: 0.05px solid rgb(2, 0, 66, 0.3);
}

.card-bg:hover {
    background-color: transparent;
    border: none;
    -webkit-transform: rotate(-45deg) scale(0.85);
    -ms-transform: rotate(-45deg) scale(0.85);
    transform: rotate(-45deg) scale(0.85);
    border: 0.05px solid rgb(2, 0, 66, 0.3);
}

.card-body {
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.card-bg:hover>.card-body {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card:hover>.card-body>.logo {
    background-color: rgb(206, 207, 255);
}

.card:hover>.card-body>.logo>.color0 {
    color: rgb(2, 0, 66);
}

.bb {
    border-left: 2px solid rgba(0, 5, 78, 0.1);
}

.bb:hover {
    border-left: none;
}


/* sec2 start */


/* Footer start */


/* Footer */

.bk-col2 {
    background-color: rgb(4, 0, 43);
}

.bg-011 {
    background-color: aquamarine;
}

.box {
    position: relative;
    overflow: hidden;
}

.content2 {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    color: white;
    -webkit-transform: translate(0, -80px);
    -ms-transform: translate(0, -80px);
    transform: translate(0, -80px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.card:hover>.box>.content2 {
    -webkit-transform: translate(0, -140px);
    -ms-transform: translate(0, -140px);
    transform: translate(0, -140px);
}

img {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.card:hover>.box>.content1>img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.nt::before {
    content: "\2713";
    font-weight: bolder;
    padding-right: 8px;
    color: rgb(89, 0, 255);
    font-size: 21px;
}

.nt1::before {
    content: "\2713";
    font-weight: bolder;
    padding-right: 8px;
    color: rgb(0, 228, 30);
    font-size: 21px;
}

ul>.nt {
    padding-bottom: 10px;
    list-style-type: none;
}

ul>.nt1 {
    padding-bottom: 10px;
    list-style-type: none;
}

.offer {
    background-color: rgba(89, 0, 255, 0.24);
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
}

.offer1 {
    background-color: rgb(142, 144, 255);
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px;
}

.card-bg1 {
    background-color: rgb(241, 242, 255);
    border: none;
    border-radius: 25px;
}

.card-bg2 {
    background-color: rgb(7, 0, 66);
    border: none;
    border-radius: 25px;
}

.nav-btn-c2 {
    background-color: rgb(0, 184, 24);
    color: rgb(0, 0, 0);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}

.nav-btn-c2:hover {
    background-color: rgb(0, 165, 22);
    color: rgb(255, 255, 255);
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
}

hr {
    opacity: 0.1;
    margin-right: 10%;
    margin-left: 10%;
}


/* Stati */

.st-logo {
    max-width: 100px;
    max-height: 100px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.st-logo:hover {
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}

.bg-09 {
    /* background-color: rgb(212, 215, 255); */
    background-color: rgb(250, 250, 252);
    /* background-image: linear-gradient(rgb(20, 0, 51), rgb(13, 12, 73)); */
}


/* Stati */


/* Footer */

.tra {
    background-color: transparent;
}

.br-bt1 {
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.070);
}

.bor1 {
    border: 1px solid white;
    padding: 0;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
}

.logo-fot {
    color: white;
}

.bor1:hover {
    background-color: white;
    cursor: pointer;
}

.bor1:hover>.logo-fot {
    color: rgb(4, 0, 43);
}

.list1 {
    list-style-type: none;
    padding-left: 0pt;
}

.list1>li {
    padding-bottom: 2px;
}

.list1>li>a {
    text-decoration: none;
    color: white;
}

.ft-log {
    background-color: #ffffff;
    border-radius: 30px 30px;
    margin: 0;
    padding-left: 10px;
    padding-top: 5px;
    width: 265px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.bor2 {
    background-color: rgb(4, 0, 43);
    cursor: pointer;
    border: 1px solid white;
    padding: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.bor3 {
    background-color: rgb(4, 0, 43);
    cursor: pointer;
    border: 1px solid white;
    padding: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2px;
}

.ft-log>input {
    border: none;
    outline: none;
    font-weight: 250;
    height: 32px;
}


/* Footer start */


/* back to top */

.back-to-top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    background-color: rgba(0, 195, 255, 0.4);
    color: #000;
    width: 50px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
}

.back-to-top:hover {
    background-color: rgb(0, 195, 255);
    color: rgb(0, 0, 44);
}

.cir {
    background-color: white;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}


/* back to top */